.landing-container > *,
.landing-container > *::after,
.landing-container > *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
.landing-container {
  font-family: 'OpenSans-Regular', sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #000; }

@font-face {
  font-family: "Roboto-Black";
  src: url("./fonts/Roboto-Black.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype"); }
.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-left-text {
  text-align: left; }

.u-margin-top-6-5v {
  margin-top: 6.5vh; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-top-5 {
  margin-top: 5rem; }

.u-margin-top-3 {
  margin-top: 3rem; }

.u-margin-top-1 {
  margin-top: 1rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.2em 1em;
  display: inline-block;
  background-color: #F00033;
  color: #FFFFFF;
  border-radius: 3px;
  transition: all .1s;
  position: relative;
  font-family: 'Roboto-Black';
  font-size: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (min-width: 770px) {
    .btn:link, .btn:visited {
      font-size: 1.5vw; } }
.btn:active {
  transform: translateY(2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/*-------------------------------------------
    Material Input Style
--------------------------------------------*/
.input-material {
  position: relative; }
  .input-material:not(:first-child) {
    margin-top: 1.5rem; }
    @media (min-width: 770px) {
      .input-material:not(:first-child) {
        margin-top: 2rem; } }
  .input-material > label {
    font-size: 0.8rem !important;
    font-family: "Roboto-Regular";
    font-weight: 600;
    color: #FFFFFF; }
    @media (min-width: 770px) {
      .input-material > label {
        font-size: 1vw !important;
        font-family: "Roboto-Regular";
        font-weight: 600;
        color: #000; } }
  .input-material > input {
    font-size: 1rem !important;
    background-color: #000;
    color: #FFFFFF;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    text-transform: uppercase;
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFFFFF; }
    @media (min-width: 770px) {
      .input-material > input {
        font-size: 1.4vw !important;
        background-color: #FFFFFF;
        color: inherit;
        border-bottom: 2px solid #B5B4BC; } }
    .input-material > input:focus {
      outline: none; }
    .input-material > input:focus ~ .bar:before, .input-material > input:focus ~ .bar:after {
      width: 50%; }

.bar {
  position: relative;
  display: block;
  width: 100%; }
  .bar::after {
    right: 50%; }
  .bar::before {
    left: 50%; }

.bar::before, .bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #F00033;
  transition: 0.2s ease all; }
  @media (min-width: 770px) {
    .bar::before, .bar::after {
      background: #000;
      height: 1px;
      width: 0;
      bottom: 1px; } }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.split {
  width: 50%;
  overflow: hidden; }

.wrapper {
  max-width: 50vw;
  padding: 5.5rem 0;
  display: inline-block; }
  @media (max-width: 770px) {
    .wrapper {
      width: 80vw;
      max-width: none;
      position: relative; } }
  @media (max-width: 430px) {
    .wrapper {
      width: 70vw; } }

.wizard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.landing-container {
  display: flex;
  flex-direction: row; }
  .landing-container__left {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.png);
    background-size: cover; }
    @media (min-width: 770px) {
      .landing-container__left {
        display: flex;
        width: 50%; } }
    .landing-container__left > img {
      top: -7rem;
      position: relative;
      width: 16vw; }
    .landing-container__left > h1 {
      font-size: 2.5vw;
      color: #FFFFFF;
      font-family: 'Roboto-Light';
      font-weight: 500;
      width: 100%;
      text-align: center;
      line-height: 1.25; }
      .landing-container__left > h1 > span {
        display: block; }
        .landing-container__left > h1 > span > span {
          font-family: 'Roboto-Black'; }
  .landing-container__right {
    color: #000;
    background-color: #000;
    width: 100%; }
    @media (min-width: 770px) {
      .landing-container__right {
        width: 50%;
        background-color: #FFFFFF; } }
    .landing-container__right--mobile-img {
      display: inline-block;
      position: absolute;
      width: 8rem;
      top: 2rem;
      left: 0; }
      @media (min-width: 770px) {
        .landing-container__right--mobile-img {
          display: none; } }
    .landing-container__right > div > img:not(:first-child) {
      width: 100%;
      margin-top: 4rem; }
      @media (min-width: 770px) {
        .landing-container__right > div > img:not(:first-child) {
          width: 30vw;
          margin-top: 2.5vh; } }
    .landing-container__right > div .title-block > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .landing-container__right > div .title-block > div > h1 {
        display: inline-block;
        font-size: 4rem;
        line-height: 1;
        font-family: 'Roboto-Black'; }
        @media (min-width: 770px) {
          .landing-container__right > div .title-block > div > h1 {
            font-size: 5vw; } }
        .landing-container__right > div .title-block > div > h1 > span {
          display: block;
          color: #FFFFFF; }
          @media (min-width: 770px) {
            .landing-container__right > div .title-block > div > h1 > span {
              color: #000; } }
          .landing-container__right > div .title-block > div > h1 > span:not(:first-child) {
            font-size: 3rem;
            color: #F00033; }
            @media (min-width: 770px) {
              .landing-container__right > div .title-block > div > h1 > span:not(:first-child) {
                font-size: 4vw; } }
          .landing-container__right > div .title-block > div > h1 > span > span {
            font-size: 3rem; }
            @media (min-width: 770px) {
              .landing-container__right > div .title-block > div > h1 > span > span {
                font-size: 4vw; } }
      .landing-container__right > div .title-block > div > img {
        display: none;
        width: 25%;
        margin-left: .8vw; }
        @media (min-width: 770px) {
          .landing-container__right > div .title-block > div > img {
            display: inline-block; } }
      .landing-container__right > div .title-block > div > .mobile-image-logo {
        display: inline-block;
        width: 25%;
        margin-left: .8rem; }
        @media (min-width: 770px) {
          .landing-container__right > div .title-block > div > .mobile-image-logo {
            display: none; } }
    .landing-container__right > div > div > h5 {
      display: none; }
      @media (min-width: 770px) {
        .landing-container__right > div > div > h5 {
          display: block;
          font-family: 'Roboto-Regular';
          font-size: 1.6vw;
          font-weight: 100;
          padding: 2rem;
          border-bottom: 1px dashed #000;
          line-height: 1.35; } }
      .landing-container__right > div > div > h5 > span {
        display: block; }
    .landing-container__right > div > div > h6 {
      font-family: 'Roboto-Regular';
      font-size: 1rem;
      color: #FFFFFF;
      font-weight: 600; }
      @media (min-width: 770px) {
        .landing-container__right > div > div > h6 {
          font-family: 'Roboto-Regular';
          font-size: 1vw;
          color: #B5B4BC; } }

.wizard-container .logo-box {
  margin-bottom: 2rem;
  display: block; }
  @media (min-width: 770px) {
    .wizard-container .logo-box {
      display: none; } }
.wizard-container > div > div {
  width: 90%; }
  .wizard-container > div > div > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .wizard-container > div > div > div:nth-child(2) > div {
      position: relative;
      border: 1px solid #B5B4BC;
      border-radius: 50%;
      width: 1.4rem;
      height: 1.4rem;
      text-align: center; }
      @media (min-width: 770px) {
        .wizard-container > div > div > div:nth-child(2) > div {
          width: 3vw;
          height: 3vw; } }
      .wizard-container > div > div > div:nth-child(2) > div:not(:last-child) {
        margin-right: 5vw; }
      .wizard-container > div > div > div:nth-child(2) > div:not(:last-child)::after {
        content: "";
        position: absolute;
        width: 5vw;
        top: 50%;
        left: 100%;
        height: 1px;
        background-color: #B5B4BC; }
      .wizard-container > div > div > div:nth-child(2) > div > div > span {
        font-size: 1.3rem;
        font-family: 'OpenSans-Bold';
        line-height: 1.15; }
        @media (min-width: 770px) {
          .wizard-container > div > div > div:nth-child(2) > div > div > span {
            font-size: 2.5vw;
            font-family: 'OpenSans-Bold';
            line-height: 1.15; } }
.wizard-container .prev-block {
  margin-top: 2rem; }
  .wizard-container .prev-block::after {
    content: "";
    display: table;
    clear: both; }
  .wizard-container .prev-block > div {
    float: left;
    width: 100%;
    font-size: 1rem;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase; }
    @media (min-width: 770px) {
      .wizard-container .prev-block > div {
        font-size: 1vw; } }
    .wizard-container .prev-block > div > a:visited, .wizard-container .prev-block > div a:link {
      text-decoration: none;
      color: #B5B4BC;
      transition: all .3s; }
      .wizard-container .prev-block > div > a:visited:hover, .wizard-container .prev-block > div a:link:hover {
        color: #000; }
      .wizard-container .prev-block > div > a:visited > span:nth-child(1), .wizard-container .prev-block > div a:link > span:nth-child(1) {
        margin-right: 5px; }
.wizard-container .content-block {
  margin-top: 1.5rem; }
  .wizard-container .content-block > div > form > fieldset {
    border: none; }
    .wizard-container .content-block > div > form > fieldset .step-1-title {
      margin-bottom: 4vh; }
      .wizard-container .content-block > div > form > fieldset .step-1-title > span {
        font-family: 'OpenSans-Bold';
        font-size: 1.1rem;
        line-height: 1.2;
        display: block;
        color: #000; }
        @media (min-width: 770px) {
          .wizard-container .content-block > div > form > fieldset .step-1-title > span {
            font-size: 1.8vw; } }
    .wizard-container .content-block > div > form > fieldset .step-1-tips {
      text-align: left;
      width: 90%;
      display: inline-block; }
      @media (min-width: 770px) {
        .wizard-container .content-block > div > form > fieldset .step-1-tips {
          width: 60%; } }
      .wizard-container .content-block > div > form > fieldset .step-1-tips > div {
        margin: 0 !important; }
        .wizard-container .content-block > div > form > fieldset .step-1-tips > div > i {
          color: #F00033;
          font-size: 1rem; }
          @media (min-widt: 770px) {
            .wizard-container .content-block > div > form > fieldset .step-1-tips > div > i {
              font-size: 2vw; } }
        .wizard-container .content-block > div > form > fieldset .step-1-tips > div > span {
          font-family: 'OpenSans-Regular';
          font-size: 0.8rem;
          font-weight: 100;
          color: #B5B4BC;
          margin-left: 1rem !important; }
          @media (min-width: 770px) {
            .wizard-container .content-block > div > form > fieldset .step-1-tips > div > span {
              font-size: 1.3vw; } }
    .wizard-container .content-block > div > form > fieldset > div > div > div:nth-child(1) {
      color: #000;
      font-family: 'OpenSans-Bold';
      font-size: 0.8rem; }
      @media (min-width: 770px) {
        .wizard-container .content-block > div > form > fieldset > div > div > div:nth-child(1) {
          font-size: 1vw; } }
      .wizard-container .content-block > div > form > fieldset > div > div > div:nth-child(1) > span:nth-child(2) {
        margin-left: 1rem; }
    .wizard-container .content-block > div > form > fieldset > div > div > div:nth-child(2) {
      margin-top: 0.8rem;
      color: #000;
      font-size: 0.6rem; }
      @media (min-width: 770px) {
        .wizard-container .content-block > div > form > fieldset > div > div > div:nth-child(2) {
          font-size: 1vw; } }
.wizard-container .next-block {
  text-align: center; }
  @media (min-width: 770px) {
    .wizard-container .next-block {
      text-align: right; } }
  .wizard-container .next-block > a {
    padding: 0.2em 3em; }

.lvl--active {
  border: 1px solid #F00033 !important;
  color: #F00033; }

/*# sourceMappingURL=level-placement.css.map */
