.landing-container > *,
.landing-container > *::after,
.landing-container > *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
.landing-container {
  font-family: 'OpenSans-Regular', sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #000; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("./fonts/OpenSans-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("./fonts/OpenSans-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("./fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Italic";
  src: url("./fonts/OpenSans-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Light";
  src: url("./fonts/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("./fonts/OpenSans-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./fonts/OpenSans-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("./fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"); }
.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-margin-top-6-5v {
  margin-top: 6.5vh; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-top-5 {
  margin-top: 5rem; }

.u-margin-top-3 {
  margin-top: 3rem; }

.u-margin-top-1 {
  margin-top: 1rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.2em 1em;
  display: inline-block;
  background-color: #F00033;
  color: #FFFFFF;
  border-radius: 3px;
  transition: all .1s;
  position: relative;
  font-family: 'OpenSans-Bold';
  font-size: 1.5vw;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
.btn:active {
  transform: translateY(2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/*-------------------------------------------
    Material Input Style
--------------------------------------------*/
.input-material {
  position: relative; }
  .input-material > label {
    font-size: 1vw !important;
    font-family: "OpenSans-Light";
    font-weight: 600; }
  .input-material > input {
    font-size: 1.4vw !important;
    height: auto;
    margin: 0;
    display: block;
    text-transform: uppercase;
    width: 100%;
    border: none;
    border-bottom: 2px solid #B5B4BC; }
    .input-material > input:focus {
      outline: none; }
    .input-material > input:focus ~ .bar:before, .input-material > input:focus ~ .bar:after {
      width: 50%; }

.bar {
  position: relative;
  display: block;
  width: 100%; }
  .bar::after {
    right: 50%; }
  .bar::before {
    left: 50%; }

.bar::before, .bar::after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #000;
  transition: 0.2s ease all; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.split {
  width: 50%;
  overflow: hidden; }

.wrapper {
  max-width: 50vw;
  padding: 5.5rem 0;
  display: inline-block; }

.landing-container {
  display: flex;
  flex-direction: row; }
  .landing-container__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000; }
    .landing-container__left > img {
      top: -13rem;
      position: relative;
      width: 16vw; }
    .landing-container__left > h1 {
      font-size: 2.5vw;
      color: #FFFFFF;
      font-family: 'OpenSans-Light';
      font-weight: 500;
      width: 100%;
      text-align: center;
      line-height: 4vh; }
      .landing-container__left > h1 > span {
        display: block; }
        .landing-container__left > h1 > span > span {
          font-family: 'OpenSans-Bold'; }
  .landing-container__right {
    color: #000;
    background-color: #FFFFFF; }
    .landing-container__right > div > img {
      width: 30vw;
      margin-top: 2.5vh; }
    .landing-container__right > div > div > h5 {
      font-family: 'OpenSans-Regular';
      font-size: 1.5vw;
      font-weight: 100;
      padding: 2rem;
      border-bottom: 1px dashed #000;
      line-height: 2.5vh; }
      .landing-container__right > div > div > h5 > span {
        display: block; }
    .landing-container__right > div > div > h6 {
      font-family: 'OpenSans-Regular';
      font-size: 1vw;
      color: #B5B4BC; }

/*# sourceMappingURL=level-placement.css.map */
