html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
body {
  font-family: 'OpenSans-Regular', sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #000; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("./fonts/OpenSans-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("./fonts/OpenSans-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("./fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Italic";
  src: url("./fonts/OpenSans-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Light";
  src: url("./fonts/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("./fonts/OpenSans-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./fonts/OpenSans-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("./fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"); }
.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all .1s;
  position: relative;
  font-size: 1.6rem; }
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
.btn--white {
  background-color: #FFFFFF;
  color: #B5B4BC; }
  .btn--white::after {
    background-color: #FFFFFF; }
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden; }

.landing-container {
  position: relative;
  width: 100%;
  height: 100%; }
  .landing-container__left {
    background-color: #000;
    color: #FFFFFF;
    left: 0; }
    .landing-container__left > img {
      position: absolute;
      width: 16vw;
      left: 50%;
      top: 11%;
      transform: translateX(-50%); }
    .landing-container__left > h1 {
      font-size: 2.5vw;
      font-family: 'OpenSans-Light';
      position: absolute;
      font-weight: 500;
      left: 50%;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateX(-50%); }
      .landing-container__left > h1 > span {
        display: block; }
        .landing-container__left > h1 > span > span {
          font-family: 'OpenSans-Bold'; }
  .landing-container__right {
    color: #FFFFFF;
    right: 0;
    background-color: #FFFFFF; }

/*# sourceMappingURL=level-placement.css.map */
