.landing-container {
  display: flex;
  flex-direction: row;


  &__left {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $black;

    @media (min-width: 770px) {
      display: flex;
      width: 50%;
    }

    > img {
      top: -13rem;
      position: relative;  
      width: 16vw;
    }

    > h1 {
      font-size: 2.5vw;
      color: $white;
      font-family: 'OpenSans-Light';
      font-weight: 500;
      width: 100%;
      text-align: center;
      line-height: 4vh;

      > span {
        display: block;

        > span {
          font-family: 'OpenSans-Bold';
        }
      }
    }

  }


  &__right {
    color: $black;
    background-color: $black;
    width: 100%;

    @media (min-width: 770px) {
      width: 50%;
      background-color: $white;
    }

    &--mobile-img{
      display: inline-block;
      position: absolute;
      width: 8rem;
      top: 2rem;
      left: 0;


      @media (min-width: 770px) {
        display:none;
      }
    }

    > div {
      

      > img:not(:first-child) {
        width: 100%;
        margin-top: 4rem;

        @media (min-width: 770px) {
          width: 30vw;
          margin-top: 2.5vh;
        }
      }

      > div {

        > h5 {
          display: none;

          @media (min-width:770px) {
            display: block;
            font-family: 'OpenSans-Regular';
            font-size: 1.5vw;
            font-weight: 100;
            padding: 2rem;
            border-bottom: 1px dashed #000;
            line-height: 2.5vh;
          }

          > span {
            display: block;
          }

        }

        > h6 {
          font-family: 'OpenSans-Light';
          font-size: 1rem;
          color: $white;
          font-weight: 600;

          @media (min-width: 770px){
            font-family: 'OpenSans-Regular';
            font-size: 1vw;
            color: $gray;
          }
        }
        
      }
    }
  }
}