.landing-container {
  position: relative;
  width: 100%;
  height: 100%;
  
  &__left {
    background-color: $black;
    color: $white;
    left:0;

    > img {
      position: absolute;
      width: 16vw;
      left: 50%;
      top: 11%;
      transform: translateX(-50%);
    }

    > h1 {
      font-size: 2.5vw;
      font-family: 'OpenSans-Light';
      position: absolute;
      font-weight: 500;
      left: 50%;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateX(-50%);

      > span {
        display:block;

        > span {
          font-family: 'OpenSans-Bold';
        }
      }
    }

  }


  &__right {
    color: $black;
    right: 0;
    background-color: $white;

    > div {
      
      > img {
        width: 30vw;
        margin-top: 2.5vh;

      }

      > p {

      }

      > div {

        > h5 {
          font-family: 'OpenSans-Regular';
          font-size: 1.5vw;
          font-weight: 100;
          padding: 2rem;
          border-bottom: 1px dashed #000;

          @media screen and (min-width:790px) and (max-width: 870px) {
            font-size: 1.1vw !important;
          }

          @media screen and (min-width:870px) and (max-width: 970px) {
            font-size: 1.2vw !important;
          }

          @media screen and (min-width: 970px) and (max-width: 1105px) {
            font-size: 1.3vw !important;
          }

          @media screen and (max-width: 1278px) {
            font-size: 1.4vw;
          }

          @media screen and (min-width: 1518px) {
            font-size: 1.6vw;
          }

          @media screen and (min-width: 1965px) {
            font-size: 1.7vw;
          }

          @media screen and (min-width: 2700px) {
            font-size: 1.8vw;
          }
        }

        > h6 {
          font-family: 'OpenSans-Regular';
          font-size: 1vw;
          color: $gray;
        }
        
      }
    }
  }
}