.result-container {
    display: block;

    opacity: 0;
    transition: all .3s;

    &--show {
        opacity: 1;
        height: 70vh;
        width: 100%;
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        > div {

            &:not(:first-child) {
                margin-top: 2rem;
            }

            > span {
                font-size: 1rem;
                font-family: 'Roboto-Black';

                @media (min-width: 770px) {
                    font-size: 2vw;
                }
            }
        }
    }
}


