.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.2em 1em;
        display: inline-block;
        background-color: $red;
        color: $white;
        border-radius: 3px;
        transition: all .1s;
        position: relative;
        font-family: 'Roboto-Black';
        font-size: 1rem;
        box-shadow: 0 1rem 2rem rgba($black,.2);

        @media (min-width: 770px) {
            font-size: 1.5vw;
        }
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 .5rem 1rem rgba($black,.2);
    }

}

