.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5rem 3rem;
        display: inline-block;
        background-color: $red;
        color: $white;
        border-radius: 3px;
        transition: all .1s;
        position: relative;
        font-family: 'OpenSans-Bold';
        font-size: 1.6vw;
        box-shadow: 0 1rem 2rem rgba($black,.2);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 .5rem 1rem rgba($black,.2);
    }

}

