.modal-block {
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: rgba($black,.4);
    display: flex;
    justify-content: center;



    > .modal-block-content {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $white;
        border-radius: 2px;
        width: 70% !important;
        height: 30%;

        > div {
            padding: 0 0.5rem;

            > span {
                font-size: 1rem;
                font-family: 'Roboto-Black';

                @media (min-width: 770px) {
                    font-size: 2vw;
                }
            }
        }

        &--animated{
            display: flex;
            animation: moveInBottom .5s ease-out .75s;
            animation-fill-mode: backwards;
        }
        
    }
    
}