.landing-container {
    font-family: 'OpenSans-Regular', sans-serif;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $black;
}

$fonts: 
  'Roboto-Black',
  'Roboto-Light',
  'Roboto-Regular',
;

@each $font in $fonts {
  @include font-face($font, './fonts/#{$font}', null, null, ttf)
}