.landing-container {
    font-family: 'OpenSans-Regular', sans-serif;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $black;
}

$fonts: 
  'OpenSans-Bold',
  'OpenSans-BoldItalic',
  'OpenSans-ExtraBold',
  'OpenSans-ExtraBoldItalic',
  'OpenSans-Italic',
  'OpenSans-Light',
  'OpenSans-LightItalic',
  'OpenSans-Regular',
  'OpenSans-SemiBold',
  'OpenSans-SemiBoldItalic'
;

@each $font in $fonts {
  @include font-face($font, './fonts/#{$font}', null, null, ttf)
}