.u-center-text { text-align: center; }

.u-left-text { text-align: left; }

.u-margin-top-6-5v{ margin-top: 6.5vh; }

.u-margin-bottom-8 { margin-bottom: 8rem; }

.u-margin-top-8 { margin-top: 8rem; }

.u-margin-top-5 { margin-top: 5rem; }

.u-margin-top-3 { margin-top: 3rem; }

.u-margin-top-1 { margin-top: 1rem; }

.u-margin-bottom-1 { margin-bottom: 1rem; }



