.split {
  width: 50%;
  overflow: hidden;
}

.wrapper {
  max-width: 50vw;
  padding: 5.5rem 0;
  display: inline-block;

  @media (max-width: 770px) {
    width: 80vw;
    max-width: none;
    position: relative;
  }

  @media (max-width: 430px) {
    width: 70vw;
  }
}

.wizard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}